# cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# ambientes virtuais
.venv/
env/
venv/

# logs
*.log

# sistema/IDE
.vscode/
.DS_Store

# variáveis locais
.env

# dados gravados no servidor (Render já tem volume próprio)
data/